.u-section-1 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-1 .u-shape-1 {
  width: 795px;
  height: 593px;
  background-image: none;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1090px;
  margin: -533px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 438px;
  background-image: url("images/pega2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 50px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 484px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 90px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 208px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 20px 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 714px;
  background-image: url("images/Screenshot_20260118_152659_Instagram1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 880px;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 175px;
  }

  .u-section-1 .u-image-2 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1833px;
  }

  .u-section-1 .u-shape-1 {
    width: 585px;
    height: 1166px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 637px;
    margin-top: -1107px;
  }

  .u-section-1 .u-image-1 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 186px;
  }

  .u-section-1 .u-image-2 {
    min-height: 1014px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-1 .u-shape-1 {
    width: 465px;
    height: 1165px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -1106px;
  }

  .u-section-1 .u-image-1 {
    min-height: 457px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 850px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 324px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-1 .u-image-2 {
    min-height: 602px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 675px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 245px;
  height: 245px;
  background-image: url("images/Screenshot_20260118_152220_Instagram1.jpg");
  background-position: 50% 50%;
  margin: 54px 255px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 335px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 335px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 155px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 85px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 751px;
}

.u-section-3 .u-text-1 {
  width: 384px;
  margin: 75px auto 0;
}

.u-section-3 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-3 .u-gallery-1 {
    height: 347px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-gallery-1 {
    height: 825px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1206px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 799px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 593px;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-list-1 {
  width: 494px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 510px;
  --gap: 0px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-1 {
  width: 384px;
  min-height: 162px;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-2 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-4 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px 0 0;
}

.u-section-4 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-3 {
  width: 384px;
  min-height: 162px;
  background-size: auto;
  height: auto;
  margin: -65px auto 0 95px;
}

.u-section-4 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 663px;
  background-position: 50% 50%;
  background-image: url("images/Screenshot_20260118_151810_Instagram1.jpg");
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 601px;
  }

  .u-section-4 .u-list-1 {
    width: 449px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 574px;
    grid-gap: 0px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-1 {
    width: 324px;
    min-height: 130px;
    margin-right: 40px;
    margin-left: 85px;
    height: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-2 {
    width: 324px;
    min-height: 130px;
    margin-right: 40px;
    margin-left: 85px;
    height: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-3 {
    width: 324px;
    min-height: 130px;
    margin-right: 40px;
    margin-left: 85px;
    height: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-4 .u-list-1 {
    width: 629px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 531px;
  }

  .u-section-4 .u-group-1 {
    width: 523px;
    min-height: 137px;
    margin-right: 11px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-group-2 {
    width: 523px;
    min-height: 137px;
    margin-right: 11px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-group-3 {
    width: 523px;
    min-height: 137px;
    margin-right: 11px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 837px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 504px;
  }

  .u-section-4 .u-group-1 {
    width: 398px;
    min-height: 117px;
    margin-right: 7px;
  }

  .u-section-4 .u-group-2 {
    width: 398px;
    min-height: 117px;
    margin-right: 7px;
  }

  .u-section-4 .u-group-3 {
    width: 398px;
    min-height: 117px;
    margin-right: 7px;
  }

  .u-section-4 .u-image-1 {
    min-height: 628px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-1 {
    min-height: 121px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-2 {
    min-height: 121px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-3 {
    min-height: 121px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 395px;
  }
}