 .u-section-1 {
  filter: none;
  background-image: url("images/c2c247ed-0d58-4fa6-887c-a5f05e7c14db.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 762px;
}

.u-section-1 .u-shortcode-1 {
  width: 570px;
  min-height: 228px;
  margin: 511px auto 60px 422px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-shortcode-1 {
    margin-left: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-1 .u-shortcode-1 {
    margin-left: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-1 .u-shortcode-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-1 .u-shortcode-1 {
    height: auto;
    width: 340px;
    margin-top: 130px;
    margin-right: -17px;
    margin-left: 17px;
  }
}